.carousel-item img {
    align-content: center;
   width: 80%;
}


.spacer {
    height: 800px;
}

.row div {
    border: 2px solid black;
    background-color: blueviolet;
}

@media (min-width: 768px) { /*asks a property from the screean, sirve para cubrir una seccion total*/
    .spacer {
        background-color: red;
    }
    .carousel {
        display: none;
    }
}