body {
    background-color: gray;
}

.home-screen .home-detail {
    padding-top: 110px;
}

.home-screen .home-detail .hom-img {
    text-align: center;
}

.home-screen .home-detail .hom-img {
    width: 80%
}