div {
    width: 200px;
    height: 200px;
}

.top-container {
    background-color: red;
    position: relative;
    top: 0px;
    left: 400px;
}

.middle-container {
    background-color: blue;
    position: relative;
    top: -200px;
    left: 0px;
}

.bottom-container {
    background-color: yellow;
    position: relative;
    top: -400px;
    left: 200px;
}