<%- include("partials/header"); -%>
    <img src="images/flor.jpg" alt="pink flower" />
    <h1>Welcome to my landing page</h1>
    <form action="/students" method="get">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <input type="submit" />
    </form>
<%- include("partials/footer"); -%>