<%- include("partials/header"); -%>
    <div class="home-screen">
        <div class="row home-detail">
            <div class="col-md-5 hom-img">
                <img srv="/images/ironThrone.jpg"
                alt="">
            </div>
            <div class="col-md-7">
                <h5>Hello I´m</h5>
                <h2>John Smith</h2>
                <span>Professional <a >Freelance Web Designer</a></span>
                <p>Lorem .</p>
            </div>
        </div>
    </div>
<%- include("partials/footer"); -%>
